* text=auto

/tests export-ignore
/workbench export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
Makefile export-ignore
phpstan.neon.dist export-ignore
phpunit.xml export-ignore
rector.php export-ignore
testbench.yaml export-ignore