parameters:
    level: max

    parallel:
       maximumNumberOfProcesses: 4

    tmpDir: storage/tmp/phpstan

    paths:
        - src
        - tests

    ignoreErrors:
        -
            identifier: missingType.generics