includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.generics
    level: max

    parallel:
       maximumNumberOfProcesses: 6

    paths:
        - src
        - tests
        - workbench

    tmpDir: storage/tmp/phpstan

    treatPhpDocTypesAsCertain: false