parameters:
    level: max
    treatPhpDocTypesAsCertain: false

    parallel:
       maximumNumberOfProcesses: 4

    tmpDir: storage/tmp/phpstan

    paths:
        - src
        - tests
        - workbench

    ignoreErrors:
        -
            identifier: missingType.generics